<div class="container-tool-show">

  <div class="card-tool-show">
    <% if @tool.photo.attached? %>
      <img src="<%= cl_image_path @tool.photo.key %>"/>
    <% end %>
  </div>
  <div class="card-tool-show-desc">
    <div class="tool-name">
      <h2><%= @tool.name %></h2>
    </div>
    <div class="tool-desc">
      <p><%= @tool.description %></p>
    </div>
    <div class="tool-price">
      <h3>€<%= @tool.price %>💸</h3>
    </div>
  </div>
  <div class="card-tool-show-lender">
    <div class="lender-avatar">
      <% if @tool.user.photo.attached? %>
        <img src="<%= cl_image_path @tool.user.photo.key %>" class="card-tool-show-user avatar-bordered" />
      <% end %>
    </div>
    <div class="lender-name">
      <h2><%= @tool.user.first_name %></h2>
    </div>
    <div class="lender-address">
      <p><%= @tool.user.address %></p>
    </div>
  </div>

  <%= link_to 'Request Booking', new_tool_booking_path(@tool), class: "btn btn-flat request-booking m-3" %>
</div>
