<div class="container-booking-show">

  <div class="card-booking-show">
    <% if @booking.tool.photo.attached? %>
      <img src="<%= cl_image_path @booking.tool.photo.key %>"/>
    <% end %>
  </div>
  <div class="card-booking-show-details">
    <div class="booking-price-wrapper">
      <div class="booking-price">
        <h3>€<%= @booking.tool.price %> / Day</h3>
      </div>
    </div>
    <div class="request-booking-btn-wrapper">
    </div>
  </div>
  <div class="card-booking-show-lender">
    <div class="lender-avatar-wrapper">
      <% if @booking.user.photo.attached? %>
        <img src="<%= cl_image_path @booking.user.photo.key %>" class="lender-avatar avatar-bordered" />
      <% end %>
    </div>
    <div class="lender-name">
      <h2><%= @booking.user.first_name %></h2>
    </div>
    <div class="lender-address">
      <p><%= @booking.user.address %></p>
    </div>
  </div>
  <div class="booking-map" id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
