<div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= image_path('banner_image.jpg')%>);">
  <div class="homepage-words">
    <div class="cta">
      <%= link_to new_user_registration_path do %>
      <h1 class="btn btn-primary">SIGN UP</h2>
        <% end %>
        <h2>The tool renting service you've been waiting for</h2>
      </div>
      <div class="home-card-details">
        <%= simple_form_for :search, url: tools_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" placeholder="Tool" name="tool[query]" id="tool_query" />
          <input class="form-control string required" type="text" default="anywhere" placeholder="Location" name="location[query]" id="location_query" />
          <div class="button-container">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="tool-categories">
    <%= link_to tools_path(tool:{ query: "gardening"}, location:{ query: ""}) do %>
    <div class="card-trip">
      <%= image_tag('garden-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Garden tools</h2>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to tools_path(tool:{ query: "hand"}, location:{ query: ""}) do %>
    <div class="card-trip">
      <%= image_tag('hand-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Hand tools</h2>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to tools_path(tool:{ query: "power"}, location:{ query: ""}) do %>
    <div class="card-trip">
      <%= image_tag('electrical-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Power tools</h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container-homepage">
    <!-- <div class="d-flex p-2">
      <h1>Who is WheelBorrow for?</h1>
    </div> -->
    <div class="owners-card">
      <div class="owners-text">
        <h3>TOOL OWNERS</h3>
        <h5>Do you have spare tools & equipment sitting around, doing nothing? (Remember how much you paid for them?)</h5>
      </div>
      <div class="owner-steps">
        <div class="owner-setup-step">
          <div class="step-number">
            <div class="step-number-num">
              <h1>1</h1>
            </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-1-91abda7f226d729489271a90a18017de2bcda4247c01f3eea19b7cca9c2d97a2.png" />
            </div>
            <div class="set-up-text">
              <p>Set up your account</p>
            </div>
          </div>
          <div class="step-number">
            <div class="step-number-num">
              <h1>2</h1>
            </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-2-dcda5b7c4a79dd6c50ae41ffca99e5820bb2b4bce2ba688f2d883d70f907d56c.png" />
            </div>
            <div class="set-up-text">
              <p>Take photos of your tools</p>
            </div>
          </div>
          <div class="step-number">
            <div class="step-number-num">
              <h1>3</h1>
            </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-3-63b6cfb274281d55f51e8cfaba76c247f7f878e1325f205b521842a1d328a49f.png" />
            </div>
            <div class="set-up-text">
              <p>Set your daily rental rates</p>
            </div>
          </div>
          <div class="step-number">
            <div class="step-number-num">
              <h1>4</h1>
            </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-4-2757a17cb01a92f2011cd9a1abdd04e71deb24e378f0c4418cdbca56cdb51dd9.png" />
            </div>
            <p class="set-up-text">Make money!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="owners-card">
      <div class="owners-text">
        <h3>TOOL RENTERS</h3>
        <h5>Have a project, but not the tools? (And don’t want to deal with the clutter, hassle, & expense of buying them?)</h5>
      </div>
      <div class="owner-steps">
        <div class="owner-setup-step">
          <div class="step-number">
            <div class="step-number-num">
            <h1>1</h1>
          </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-1-91abda7f226d729489271a90a18017de2bcda4247c01f3eea19b7cca9c2d97a2.png" />
            </div>
            <p class="set-up-text">Set up your account</p>
          </div>
          <div class="step-number">
            <div class="step-number-num">
            <h1>2</h1>
          </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-2-dcda5b7c4a79dd6c50ae41ffca99e5820bb2b4bce2ba688f2d883d70f907d56c.png" />
            </div>
            <p class="set-up-text">Browse tools near you</p>
          </div>
          <div class="step-number">
            <div class="step-number-num">
            <h1>3</h1>
          </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-3-63b6cfb274281d55f51e8cfaba76c247f7f878e1325f205b521842a1d328a49f.png" />
            </div>
            <p class="set-up-text">Rent from trusted owners</p>
          </div>
          <div class="step-number">
            <div class="step-number-num">
            <h1>4</h1>
          </div>
            <div class="set-up-image">
              <img src="/assets/owner-icon-4-2757a17cb01a92f2011cd9a1abdd04e71deb24e378f0c4418cdbca56cdb51dd9.png" />
            </div>
            <p class="set-up-text">Save money!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="testimonials">
  <div class="testimonial-container">
    <div class="testimonial-header-container">
      <h1>What our users say</h1>
    </div>
    <br>

    <div class="testimonial-users">
      <div class="row justify-content-around">
        <div class="col-sm-10 col-md-4 single-testimonial">
          <div class="testimonial-quote">
            <p>"You don't need to buy all these tools anymore that you only use once. With WheelBorrow I was able to finish my project without breaking the bank."</p>
            <div class="d-flex">
              <%= image_tag "Alex.png", class: "avatar"%>
              <span class="my-auto ml-2">Alex Botwinick</span>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-4 single-testimonial">
          <div class="testimonial-quote">
            <p>"Saved so much money when building our tiny house. Got some great advice as well from the owner of the tools that was invaluable."</p>
            <div class="d-flex">
              <%= image_tag "marielle.png", class: "avatar"%>
              <span class="my-auto ml-2">Marielle de Jong</span>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-4 single-testimonial">
          <div class="testimonial-quote">
            <p>"You don't need to buy all these tools anymore that you only use once. With WheelBorrow I was able to finish my project without breaking the bank."</p>
            <div class="d-flex">
              <%= image_tag "tommy.png", class: "avatar"%>
              <span class="my-auto ml-2">Tommy Wentling</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



