<div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= image_path('banner_image.jpg')%>);">
  <div class="home-card-details">
    <%= simple_form_for :search, url: tools_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
    <h1>SIGN UP</h2>
    <h2>For the tool renting service you've been waiting for</h2>
  </div>
</div>
<div class="container-homepage">
  <div class="d-flex p-2">
    <h1>Who is WheelBorrow for?</h1>
  </div>

  <div class="owners-card">
    <div class="owners-text">
      <h3>TOOL OWNERS</h3>
      <h5>Do you have spare tools & equipment sitting around, doing nothing? (Remember how much you paid for them?)</h5>
    </div>
    <div class="owner-steps">
      <div class="owner-setup-step">
        <div class="step-number">
          <h1>1</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-1.png')%>
          </div>
          <p class="set-up-text">Set up your account</p>
        </div>
        <div class="step-number">
          <h1>2</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-2.png')%>
          </div>
          <p class="set-up-text">Take photos of your tools & list them</p>
        </div>
        <div class="step-number">
          <h1>3</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-3.png')%>
          </div>
          <p class="set-up-text">Set your daily rental rates</p>
        </div>
        <div class="step-number">
          <h1>4</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-4.png')%>
          </div>
          <p class="set-up-text">Make money with your spare tools!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="owners-card">
    <div class="owners-text">
      <h3>TOOL RENTERS</h3>
      <h5>Have a project, but not the tools? (And don’t want to deal with the clutter, hassle, & expense of buying them?)</h5>
    </div>
    <div class="owner-steps">
      <div class="owner-setup-step">
        <div class="step-number">
          <h1>1</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-1.png')%>
          </div>
          <p class="set-up-text">Set up your account</p>
        </div>
        <div class="step-number">
          <h1>2</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-2.png')%>
          </div>
          <p class="set-up-text">Browse available tools near you</p>
        </div>
        <div class="step-number">
          <h1>3</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-3.png')%>
          </div>
          <p class="set-up-text">Request rental from trusted tool owners</p>
        </div>
        <div class="step-number">
          <h1>4</h1>
          <div class="set-up-image">
            <%= image_tag('owner-icon-4.png')%>
          </div>
          <p class="set-up-text">Save money!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tool-categories">
    <div class="card-trip">
    <%= image_tag('garden-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Garden tools</h2>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag('hand-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Hand tools</h2>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag('electrical-tool.jpg')%>
      <div class="card-trip-infos">
        <div>
          <h2>Power tools</h2>
        </div>
      </div>
    </div>
  </div>
</div>

