<div class="container">
  <h1>Your Account</h1>
  <br>
  <div class="account-container">
    <h3>My Tools</h3>
    <div class="tool-cards"></div>
      <% @tools.each do |tool| %>
        <div class="card-tool">
          <% if tool.photo.attached? %>
            <img src="<%= cl_image_path tool.photo.key %>" />
          <% end %>
          <div class="card-tool-infos">
            <h2><%= tool.name %></h2>
            <%= link_to 'Details', tool %>
          </div>
        </div>
      <% end %>
    <%= link_to "add a tool", new_tool_path, class:"btn btn-primary" %></div>
  <div class="account-container">
    <h3>My Bookings</h3>
    <% @user.bookings.each do |booking| %>
        <div class="card-tool">
          <% if tool.photo.attached? %>
            <img src="<%= cl_image_path booking.tool.photo.key %>" />
          <% end %>
          <div class="card-tool-infos">
            <h2><%= booking.tool.name %></h2>
            <p><%= booking.tool.category %></hp>
            <p> Start:<%= booking.start_date %>  ||  End:<%= booking.end_date %></p>
            <p><%= booking.tool.user.first_name %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>


